@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  margin: 0;
}

.bg-primary {
  background: #ea580c;
}

.home-banner {
  background-image: url(../src/assets/banner.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pao-banner {
  background-image: url(../src/assets/paes.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.doces-banner {
  background-image: url(../src/assets/doces.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.font-permanent {
  font-family: "Permanent Marker";
}

@layer components {
  .menu-tab {
    @apply text-gray-800 cursor-pointer select-none;
  }
  .active-menu-tab {
    @apply rounded-full px-4 py-2 text-white select-none;
  }
}

.product-vitrine {
  width: 300px;
}

label{
  margin: 3px;
}